body{
    background-color: #0A1045;
    color :#ffffff;
    text-align: center;
}
main div {
    display: flex;
    flex-wrap: wrap;
    width:80%; 
    margin:auto;
    justify-content: center;
    align-items:center
}
input,#findButton{
    padding: 20px; 
    border-radius: 50px;
    border: 2px solid transparent;
    max-width: 100%;
    margin: 20px 20px 20px 0;
}
button{
    background-color: #F9E900;
    padding: 20px; 
    border-radius: 50px;
    
}

#result{
    height: fit-content;
    width: 80%;
    text-align: center;
    background-color: #00C2D1;
    margin: 50px auto;
    padding: 50px;
    border-radius: 50px;
}
.hidden{
    display: none !important;
}

@media (min-width: 768px){
    #findButton:hover{
        cursor: pointer;
        background-color:#0A1045;
        border-color: #F9E900;
        color: #ffffff;
    }
}